@import 'bourbon/bourbon';
@import "flexbox";
@import "colors";
@import "canvas";

// ----- Variable Definitions -----

$font-normal: 'Source Sans Pro', sans-serif;
$font-mono: 'PT Mono', sans-serif;

$wb-border: 0.8%;
$mobile-padding: 3px;
$rounded-radius: 8%;

$break-small: 460px;

// ----- Flexbox Types -----

.flex-col {
    @include flexbox;
    @include flex-dir(column);
    @include align-items(stretch);
    @include justify-content(flex-start);
}

.flex-row {
    @include flexbox;
    @include flex-dir(row);
	@include align-items(center);
    @include justify-content(center);
}

// ----- Global Attributes -----

html {
   height: 100%;
   overflow: hidden;
}

body {
    @include size(100% 100%);
	overflow: auto;

	@include flexbox;
    @include flex-dir(column);
	@include align-items(center);
    @include justify-content(flex-start);

	background-color: lighten($SILVER, 10%);

    // General font settings
    font: {
        family: $font-normal;
        size: 1em;
        weight: 400;  }
    color: $MIDNIGHT-BLUE;
}

button {
	color: white;
	font-family: $font-normal;
	cursor: pointer;
	text-shadow: rgba(0,0,0,0.4) 0px 1px;
	border-radius: 2px;
	border: none;
	margin: 0px;
}

// Single column extending centrally down
#wb_container{
	@include flexbox;
    @include flex-dir(column);
    @include align-items(stretch);
    @include justify-content(stretch);

    box-shadow: 0 0 6px rgba(0,0,0,0.2);
}

// (Each board may have several whiteboard panes)
.wb-pane {

    @include flex(1, 0, 1px);      		// This grows
    background-color: white;
    overflow: hidden;

	> .divider {
		@include flex(0, 0, auto); 		// This does not grow or shrink
		min-height: 1px;
		background-color: lighten($WET-ASPHALT, 50%);
	}

	//--- WHITEBOARD HEADER ---

	> .header {
		@include flex(0, 0, auto); 		// This does not grow or shrink
		@include flexbox;
		@include flex-dir(row);
		@include align-items(stretch);
		@include justify-content(flex-start);

		background-color:   $CLOUDS;
		font-family:        $font-normal;
		z-index: 1000;
		overflow-x: hidden;

		> .divider { height: 100%; width: 1px; background-color: darken($CLOUDS, 10%);}

		> .profile-pic {
			@include flex(0, 0, auto);              // This neither shrinks or grows
			background-color: darken($CLOUDS,5);
			background-size: cover, cover;
		}

		> .description {
			@include flex(1, 1, auto); 				// This item grows and shrinks
			@include flexbox;						
			@include flex-dir(column);
			@include justify-content(space-between);
			@include align-items(stretch);
			white-space: nowrap;
			overflow: hidden;

			padding: $wb-border $wb-border*1.5;

			// For mobile, display in a row
			@media screen and (max-width: $break-small) {
				@include flex-dir(row);
				@include justify-content(flex-start);
				@include align-items(center);
				padding: 0 $mobile-padding;
			}

			> .title { @include flex(0, 0, auto); color: $BELIZE-HOLE; padding-right: $mobile-padding;}
			> .subtitle { color: $CONCRETE; }
		}

		> button {
			
			@include flex(0, 0, auto);              // This neither shrinks or grows
			
			background-color: $CLOUDS;
			color: $BELIZE-HOLE;
			border-radius: 0;
			text-shadow: none;
			padding: 0;

			&:hover{ background-color: darken($CLOUDS,5%); }
		}
	}

	/*--- WHITEBOARD CONTENT ---*/

	> .wb-content {
		@include flex(1, 0, auto); // This item grows
		@include flexbox;
		@include flex-dir(column);
		@include align-items(stretch);

		position: relative;
		overflow: hidden;

		.svg-holder {
			position: absolute; top: 0px; left: 0px;
			width: 100px; height: 100px;
			pointer-events: none;}								// Allows interaction with iframe underneath

		.iframe-holder {
			position: absolute; top: 0px; left: 0px;
			.tarp { position: absolute; top: 0px; left: 0px; }	// Covers iframe to help dragging
		}
	}
}

.overlay {
	position: absolute;
	top: 0; left: 0;
	@include size(2000 2000);

	background-color: transparentize($MIDNIGHT-BLUE,0.4);
}

.input_row {
	position: relative;
	@include flexbox;
	@include flex-dir(row);
	@include align-items(stretch);

	@include box-sizing(border-box);

	margin: 2%;
	padding: 1%;
	border-radius: 4px;
	background-color: white;

	box-shadow: 0px 2px 0 2px rgba(0,0,0,0.4);

	//z-index: 2000;

	@media screen and (max-width: $break-small) {
		border-radius: 0;
		margin: 2% 0px;
	}

	button {
		@include size(32 32);
		margin: 0 0 0 0.5%;
		background-color: transparent;
		color: $SILVER;
		border-radius: 2px;
		font-size: 14px;

		&:hover{
			background-color: $CLOUDS;
			color: darken($SILVER, 10);
		}
	}
}

.movable {
    position: relative;
	border: 2px dotted $BELIZE-HOLE;
	background-size: cover;
    background-position: center center;
	background-repeat: no-repeat;

	img { width: 100%; height: 100%; pointer-events: none; }

	.control-point {
		border: 2px solid $BELIZE-HOLE;
		position: absolute;

		background-color: white;
		@include box-sizing(border-box);
		@include size(8 8);
		margin: -5px;

		@media screen and (max-width: $break-small) { @include size(12 12); margin: -7px;}
	}
}

// Input only used for text / image URL input
input {
	@include flex(1, 0, auto); // This item grows
	padding: 4px;
	margin: 0px;
	font-size: 100%;
	border: 0px solid $SILVER;
	border-radius: 2px;
	color: $BELIZE-HOLE;

	&:focus { outline: none; }

	// Smaller text for phones
	@media screen and (max-width: $break-small) { font-size: 90%; }
}

#controls {
	position: absolute;
	background-color: $WET-ASPHALT;
	font-size: 21px;
	color: $CLOUDS;
	padding: 10px;
	border-radius: 0 0 4px 4px;
	box-shadow: 0 0 4px rgba(0,0,0,0.2);

	p {
		text-align: center;
		margin-bottom: 8px;
	}

	button {
		box-shadow: inset 0px -3px rgba(0,0,0,0.4);
		font-size: 18px;
		padding: 8px 16px 12px 16px;
	}
}

.mobile-title-row {
	@include flexbox;
    @include flex-dir(row);
    @include align-items(center);
    @include align-self(stretch);
	@include size(auto 44);
	padding: 0 6px 0 10px;
	overflow: hidden;
	white-space: nowrap;
	background-color: lighten($WET-ASPHALT,10%);

    > .title {@include flex(1, 1, 1px); font-size: 18px; color: white;}
	
	> button {
		@include size(34 34);
		font-size: 14px;
		background-color: transparent;
		&:hover{background-color: transparentize(#000, 0.8)}
	}
}