/*--- Initialize page ---*/

html, body {
    width: 100%;
    height: 100%;
    overflow:hidden;
}

/*--- Flexbox profiles ---*/

.flex-row {
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction:     row;
    flex-direction: column;

    -webkit-align-items:        center;
}

.flex-column {
    display:                    -webkit-flex;
    display: flex;

    -webkit-flex-direction:     column;
    flex-direction: column;

    -webkit-justify-content:    flex-start;
}

/* (Each board may have several whiteboard panes) */
.wb-pane {
    -webkit-flex:       1 0 auto;
    background-color:   white;
}
    .wb-pane.faded {
        background-color:   whitesmoke;
    }

/*--- WHITEBOARD HEADER ---*/

.wb-header {
    -webkit-flex:       0 1 auto;
    background-color:   #C5C5C5;
    font-family:        'Open Sans', sans-serif;

    border: 1px solid #AAA;
    border-left:0px; border-right:0px;
    box-shadow: inset 0px 0px 2px rgba(255,255,255,0.7),
                0px 2px 4px rgba(0,0,0,0.2);
}

    .wb-header > .wb-profile-pic {
        height: 5em; width:  5em;
        background-size: cover;
    }

    .wb-header > .wb-description {
        -webkit-flex:   1 0 auto;
        margin:         0.9em;
    }

        .wb-header > .wb-description > .wb-title {
            font-size:  1.5em;
            color:      #333;
        }

        .wb-header > .wb-description > .wb-subtitle {
            margin-top: 0.7em;
            font-size:  0.9em;
            color:      #666;
        }

    .wb-header > .wb-header-button {
        height: 4em; width:  4em;
        position:relative; top:-3px;

        margin: 0.5em 0.5em 0.5em 0em;
        border: 0px solid;
        border-radius:4px;
        box-sizing:border-box;

        background-size:cover;
        background-color: #D5D5D5;
        box-shadow: inset 0px 0px 4px rgba(255,255,255,0.8),
                    0px 3px #BBB,
                    0px 3px 4px rgba(0,0,0,0.4);
    }

    .wb-header > .wb-header-button:hover {
        box-shadow: inset 0px 0px 6px rgba(255,255,255,0.8),
                    0px 3px #BBB,
                    0px 3px 4px rgba(0,0,0,0.6);
    }

    .wb-header > .wb-header-button:active {
        top:-1px;
        box-shadow: inset 0px 0px 6px rgba(255,255,255,0.8),
                    0px 1px #BBB,
                    0px 1px 2px rgba(0,0,0,0.6);
    }

/*--- WHITEBOARD CONTENT ---*/

.wb-content {
    position: relative;
    -webkit-flex:   1 0 0px;
    height: 0px;
}

/*--- Styles for drawing and writing with HTML5 canvas ---*/

.canvas-container {
    margin: 1.5em;

    -webkit-flex:   1 0 0px;
    position: relative;

    box-shadow: 0px 2px 8px -2px #666;
    border-radius:1em;

    background: #FFF;
    box-sizing:border-box;
}

    .canvas-container > .canvas-header {
        position: absolute; top:0px; left:0px; right: 0;
        -webkit-justify-content:    space-around;
        -webkit-align-items:        flex-start;
    }

    .canvas-container > .canvas {
        position: absolute; top:0px; left:0px;
        border-radius:1em;
    }

.pen-options {
    -webkit-justify-content:    space-around;
    -webkit-align-items:        flex-start;
}

.pen-option {
    width:      3em;
    height:     3em;
    padding:    0px;

    background: white;
    border:     1px solid #DDD;
    box-sizing: border-box;
    margin:     -1px 0px 0px -1px;

    box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
}

.pen-option:hover {
    height:     3.5em;
}

    .pen-option.toggled {
        height: 4.5em;
    }

    .pen-option.color {
        border: 0px;
        margin: 0px;

        box-shadow: inset 0px 0px 6px rgba(0,0,0,0.3),
                    0px 2px 2px rgba(0,0,0,0.2);
    }

    .pen-option.pen-size {

        /*So dot can be placed inside at bottom*/
        position: relative;

        background-color:       white;
        border:     1px solid #DDD;
        box-sizing: border-box;
        margin:     -1px 0px 0px -1px;

        box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
    }

        .pen-option.pen-size > .pen-size-dot {
            position: absolute;
            border-radius: 100%;
            background: #000;

            box-shadow: inset 0px 0px 6px rgba(0,0,0,0.3);
        }

    .pen-option.eraser {
        background-image:       url("../assets/icons/icon_eraser.svg");
        background-size:        contain;
        background-position:    center bottom;
        background-repeat:      no-repeat;
    }

.movable {
    position:absolute; top:0; left: 0;

    background: rgba(255,255,255,0.5);
    border: 1px solid #3797ff;
}

/*Override Jquery UI icon for resizing*/
.ui-icon-gripsmall-diagonal-se {
    margin: 4px;
    background-image: url(../assets/icons/draggable_corner_16.svg) !important;
    background-position: 0px 0px !important;
}

.svg-holder {
    position: absolute; top: 0px; left: 0px;
    width: 100px; height: 100px;
}
    /*.svg-holder.faded {
            -webkit-filter: blur(3px);
            -moz-filter: blur(3px);
            -o-filter: blur(3px);
            -ms-filter: blur(3px);
        filter: blur(3px);
    }*/