@import 'bourbon/bourbon';
@import "flexbox";
@import "colors";
@import "canvas";

// ----- Variable Definitions -----

$font-normal: 'Source Sans Pro', sans-serif;
$font-mono: 'PT Mono', sans-serif;

$wb-border: 0.8%;
$mobile-padding: 3px;
$rounded-radius: 8%;

$break-small: 460px;

// ----- Flexbox Types -----

.flex-col {
    @include flexbox;
    @include flex-dir(column);
    @include align-items(stretch);
    @include justify-content(flex-start);
}

.flex-row {
    @include flexbox;
    @include flex-dir(row);
	@include align-items(center);
    @include justify-content(center);
}

// ----- Global Attributes -----

html {
   height: 100%;
   overflow: hidden;
}

body {
    @include size(100% 100%);
	overflow: auto;

	@include flexbox;
    @include flex-dir(row);
	@include align-items(stretch);
    @include justify-content(center);

	background-color: $SILVER;

    // General font settings
    font: {
        family: $font-normal;
        size: 1em;
        weight: 400;  }
    color: $MIDNIGHT-BLUE;
}

// Single column extending centrally down
#center-col{
	@include flexbox;
    @include flex-dir(column);
    @include align-items(stretch);
    @include justify-content(stretch);
}

// (Each board may have several whiteboard panes)
.wb-pane {

    @include flex(1, 0, 1px);      		// This grows
    background-color: white;
    overflow: hidden;

	> .divider {
		@include flex(0, 0, auto); 		// This does not grow or shrink
		min-height: 1px;
		background-color: lighten($WET-ASPHALT, 50%);
	}

	//--- WHITEBOARD HEADER ---

	> .header {
		@include flex(0, 0, auto); 		// This does not grow or shrink
		@include flexbox;
		@include flex-dir(row);
		@include align-items(stretch);
		@include justify-content(flex-start);

		background-color:   $CLOUDS;
		font-family:        $font-normal;
		padding: $wb-border;
		z-index: 1000;

		overflow-x: hidden;

		@media screen and (max-width: $break-small) {
			padding: $mobile-padding;
		}

		> .profile-pic {
			@include flex(0, 0, auto);              // This neither shrinks or grows
			border-radius: $rounded-radius;
			background-color: darken($CLOUDS,5);
			background-size: cover, cover;
			@media screen and (max-width: $break-small) { border-radius: 2px; }
		}

		> .description {
			@include flex(1, 1, auto); 				// This item grows and shrinks
			@include flexbox;						
			@include flex-dir(column);
			@include justify-content(space-between);
			@include align-items(stretch);
			white-space: nowrap;
			overflow: hidden;

			padding: $wb-border/2 $wb-border;

			// For mobile, display in a row
			@media screen and (max-width: $break-small) {
				@include flex-dir(row);
				@include justify-content(flex-start);
				@include align-items(center);
				padding: 0 $mobile-padding;
			}

			> .title { @include flex(0, 0, auto); color: $BELIZE-HOLE; padding-right: $mobile-padding;}
			> .subtitle { color: $CONCRETE; }
		}

		> button {
			
			@include flex(0, 0, auto);              // This neither shrinks or grows
			@include box-sizing(border-box);

			text-shadow: rgba(0,0,0,0.4) 0px 1px;
			border-radius: $rounded-radius;
			padding: 0;
			border: 0;
			margin: 0 0 0 $wb-border;
			color: white;
			box-shadow: inset 0 -2px rgba(0,0,0,0.2);
			cursor: pointer;
		}
	}

	/*--- WHITEBOARD CONTENT ---*/

	> .wb-content {
		@include flex(1, 0, auto); // This item grows
		@include flexbox;
		@include flex-dir(column);
		@include align-items(stretch);

		position: relative;
		overflow: hidden;

		.svg-holder {
			position: absolute; top: 0px; left: 0px;
			width: 100px; height: 100px;
			pointer-events: none;}								// Allows interaction with iframe underneath

		.iframe-holder {
			position: absolute; top: 0px; left: 0px;
			.tarp { position: absolute; top: 0px; left: 0px; }	// Covers iframe to help dragging
		}
	}
}

.overlay {
	position: absolute;
	top: 0; left: 0;
	@include size(2000 2000);

	background-color: transparentize($MIDNIGHT-BLUE,0.4);
}

.input_row {
	@include flexbox;
	@include flex-dir(row);
	@include align-items(stretch);

	@include box-sizing(border-box);

	margin: 2%;
	padding: 1%;
	border-radius: 4px;
	background-color: white;

	box-shadow: 0px 2px 0 2px rgba(0,0,0,0.4);

	z-index: 2000;

	@media screen and (max-width: $break-small) {
		border-radius: 0;
		margin: 2% 0px;
	}

	button {
		@include size(32 32);
		margin: 0 0 0 0.5%;
		background-color: transparent;
		border: none;
		color: $SILVER;
		border-radius: 2px;

		&:hover{
			background-color: $CLOUDS;
			color: darken($SILVER, 10);
		}
	}
}

.movable {
    position: absolute;
	border: 2px dotted $BELIZE-HOLE;
	background-size: cover;
    background-position: center center;
	background-repeat: no-repeat;

	img {
		width: 100%;
		pointer-events: none;
	}

	.control-point {
		border: 2px solid $BELIZE-HOLE;
		position: absolute;

		background-color: white;
		@include box-sizing(border-box);
		@include size(8 8);
		margin: -5px;
	}
}

// Input only used for text / image URL input
input {
	@include flex(1, 0, auto); // This item grows
	padding: 4px;
	margin: 0px;
	font-size: 100%;
	border: 0px solid $SILVER;
	border-radius: 2px;

	&:focus { outline: none; }

	// Smaller text for phones
	@media screen and (max-width: $break-small) { font-size: 90%; }
}