@import 'bourbon/bourbon';
@import "flexbox";
@import "colors";
@import "stripes";

// ----- Variable Definitions -----

$page-bg: lighten($SILVER, 10%);
$header-bg: $CLOUDS;

$font-normal: 'Source Sans Pro', sans-serif;
$font-mono: 'PT Mono', sans-serif;

$viewer-padding: 8px;

$wb-border: 0.8%;
$mobile-padding: 3px;
$rounded-radius: 8%;
$padding-lrg: 10px;

$page-width: 1440px;
$break-small: 460px;

// ----- Flexbox Types -----

.flex-col {
    @include flexbox;
    @include flex-dir(column);
    @include align-items(stretch);
    @include justify-content(flex-start);
}

.flex-row {
    @include flexbox;
    @include flex-dir(row);
	@include align-items(center);
    @include justify-content(center);
}

// ----- Global Attributes -----

html {
   height: 100%;
   overflow: hidden;
}

body {
	@include flexbox;
    @include flex-dir(row);
	@include align-items(space-between);
    @include justify-content(space-between);
    @include size(100% 100%);

    margin: auto;
    max-width: 1400px;
    
	background: $page-bg;
	// overflow: hidden;

    // General font settings
    font: { family: $font-normal;
            size: 1em;
            weight: 400;  }
    color: $MIDNIGHT-BLUE;
}

button {
	border: 0; margin:0; padding: 0;
	border-radius: 2px;
	box-shadow: inset 0 -2px rgba(0,0,0,0.2);
	text-shadow: 0 1px rgba(0,0,0,0.2);

	font-family: $font-normal;
	font-weight: 400;
	font-size: 14px;
	color: white;

	overflow: hidden;
	white-space: nowrap;

	cursor: pointer;

	&.menu-bar{ box-shadow: none; }
}

input {
	@include flex(1, 0, 1px); // This item grows
	border-radius: 2px;
	padding: $viewer-padding;
	margin: 0px; border: 0;

	font: {
		family: $font-normal;
		size: 13px;
		weight: 400;  }

	&:focus { outline: 0; }
}

.mono {font-family: $font-mono;}

// ----- Detailed Attributes -----

#center-col {
	@include flex(1, 0, auto); // This item grows

	// Default behaviour: space-between
	@include flexbox;
    @include flex-dir(row);
    @include align-items(stretch);
    @include justify-content(space-between);

    // Fill screen, but leave margins on either size in two-col mode
	margin: 0px 2%;
    width: 90%;
    height:100%;
	max-width: $page-width;

	@media screen and (max-width: $break-small) {
		width: 200%;
	    margin: 0;
	    max-width: auto;
	}
}

.title-row {
	@include flexbox;
    @include flex-dir(row);
    @include align-items(center);
    @include justify-content(flex-start);

	@include size(auto 52);
	padding: 0 $viewer-padding 0 10px;

	@media screen and (max-width: $break-small) {
		@include size(auto 44);
		padding: 0 6px 0 10px;
	}
	
	overflow: hidden;
	white-space: nowrap;

    > .mono { font-size: 12px; color: lighten($PETER-RIVER,20%); }
    > .title { 
    	@include flex(1, 1, 1px); font-size: 21px; color: white;
    	@media screen and (max-width: $break-small) {font-size: 18px;}
    }
	
	> button {
		@include size(34 34);

		background-color: transparent;
		-webkit-font-smoothing: antialiased;
		text-shadow: 0 1px rgba(0,0,0,0.2);

		&:hover{background-color: transparentize(#000, 0.8)}
	}
}

.absolute-floater {
	position: absolute;
	top:0;
	right:0;
}

#settings-container {
	@include flex(3, 1, 1px); // This item grows and shrinks
	height: 100%;	
	overflow: hidden;
	background-color: lighten($WET-ASPHALT, 5%);
	z-index: 2000;

	max-width: 30%;
	margin: 0;

	box-shadow: 0 0 6px rgba(0,0,0,0.2);

	@media screen and (max-width: $break-small) {
		@include flex(0, 0, auto);
	    max-width: 100%; }

	> .title-row {
		background-color: $PETER-RIVER;
		@media screen and (max-width: $break-small) {
			padding: 0px $viewer-padding;
			p { text-align: center; }
		}
	}

	.subtitle {
		background-color: $MIDNIGHT-BLUE;
		padding: $viewer-padding;
		color: lighten($WET-ASPHALT,30%);
		font-size: 13px;
		span {font-size: 12px; font-family: $font-mono}
	}

	> .settings-list{ @include flex(1, 0, 1px); overflow: auto; }

	#settings-add-user{
		margin: 10px 0;
		padding: $viewer-padding;
		text-align: center;
		color: lighten($WET-ASPHALT,30%);
		font-size: 14px;
		-webkit-font-smoothing: antialiased;
		background-color: $MIDNIGHT-BLUE;
		cursor: pointer;

		&:hover{
			color: lighten($WET-ASPHALT,40%);
			background-color: darken($MIDNIGHT-BLUE, 2%)}
	}

	.setting {
		@include flexbox;
	    @include flex-dir(row);
	    @include align-items(center);
	    @include justify-content(stretch);

		font-size: 14px;
		color: white;

		line-height: 100%;

		margin: $viewer-padding $viewer-padding 0;

		p { width: 35%; }

		input {
			@include box-sizing (border-box);
			height: 36px;
			background-color: lighten($WET-ASPHALT,30%);
			border: 0; border-radius: 2px;
			color: $MIDNIGHT-BLUE;

			@include placeholder { color: lighten($WET-ASPHALT,10%); }
			&.changed{background-color:$CLOUDS;}
		}

		button {
			@include size(36px 36px);
			padding: 0;
			margin: 0 0 0 $viewer-padding;

			&.profile-pic {
				box-shadow: inset 0 0 0 1px rgba(255,255,255,0.2);
				background-size: cover, cover;
				background-color: darken($CLOUDS, 5%); }

			&.pos{
				@include size(auto 36px);
				@include flex(1, 1, 1px);
				font-size: 14px;
				margin: 0 $viewer-padding 0 0;
				background-color: lighten($WET-ASPHALT,10%);
				color: $MIDNIGHT-BLUE;

				&:last-child{ margin: 0}
				&.toggled {
					background-color: lighten($WET-ASPHALT,30%);
					color: $MIDNIGHT-BLUE;
					
					&.changed{background-color:$CLOUDS;}
				}
			}
		}
	}

	.user {
		background-color: $MIDNIGHT-BLUE;
		margin: 10px 0 0;
		padding: 10px 0;

		.setting:first-child {margin: 0 $viewer-padding;}

		> button {
			border-radius: 2px;
			font-family: $font-normal;
			font-size: 14;
			padding: $viewer-padding;
			margin: $viewer-padding $viewer-padding 0  $viewer-padding;
		}
	}

	.controls {
		@include flexbox;
	    @include flex-dir(row);
	    @include align-items(center);
	    @include justify-content(stretch);

	    margin: 10px $viewer-padding;

		button {
			@include flex(1, 0, 1px); // This item grows
			height: 32px;
			margin-left: $viewer-padding;
			font-size: 14px;
			font-weight: 400;

			&:first-child {margin: 0}
		}
	}
}
